

.rojo{
    background-color: #ff656c !important;
}

.azul{
    background-color: #3498DB !important;
}

.verde{
    background-color: #7FCA9F !important;
}

.transparente{
    background-color: transparent;
    border: solid 2px white;
}

.remodal>div>button.transparente:hover{
    background-color:rgba(255,255,255,0.4);
}

.sin_margen{
    margin:0 !important;
}
button.rojo,button.azul,button.verde,button.transparente,
a.rojo,a.azul,a.verde,
button.rojo:hover,button.azul:hover,button.verde:hover,button.transparente:hover,
a.rojo:hover,a.azul:hover,a.verde:hover
{
    color:white;
}

button.rojo:hover,
a.rojo:hover{
    background-color: #ff323b !important;
}
button.azul:hover,
a.azul:hover{
    background-color: #1d6fa5 !important;
}
button.verde:hover,
a.verde:hover{
    background-color: #5bbb84 !important;
}
.modal_info{
    background-color: #85C1F5 !important;
    color:white !important;    
}

.modal_exito{
    background-color: #7FCA9F !important;
    color:white !important;
}
.modal_error{
    background-color: #ff656c !important;
    color:white !important;
}
.modal_error>button,
.modal_exito>button,
.modal_info>button{
    color:white !important;
}

.flex_filas{
    display:flex;
    justify-content:center;
}

.contenedor_acciones{
    border-top:solid 2px #E6E9ED;
    padding-top: 10px;
}
.x_content>div.responsables_simcard{
    display: none;
    text-align: center;
}

.x_content>div.responsables_simcard>h1{
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color:white;
}
.x_content>div.responsables_simcard>button{
    width:45%;    
    height:50px;
    border: 2px solid white;
    color:white;
    background-color: transparent;
}

.x_content>div.responsables_simcard>button:hover{
    color:black;
    background-color: white;
}

.x_content>div.responsables_simcard{
    background-color: rgba(15,15,15,0.7);
    margin-top: 10px;
    border-radius: 20px;
    position: absolute;
    z-index: 10;
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.x_content>div.formulario_busqueda>h1{
    font-size: 28px;
    text-align: center;
}

.x_content>div.formulario_busqueda>div.contenedor_pista{
    flex-wrap:nowrap;
}

.x_content>div.formulario_busqueda>div{
    display: flex;
    flex-wrap:wrap;
    width:100%;
    justify-content:center;
}
.x_content>div.formulario_busqueda>div>input{
    margin-right:5px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:60%;
    text-align: center;
    border:none;
    border:solid 1px #E6E9ED;
}

.x_content>div.formulario_busqueda>div>p{
    margin-left: 5px;        
    text-align: justify;
    margin-right: 5px;
}
.x_content>div.formulario_busqueda>div>button.busqueda{
    width:20%;
}
.x_content>div.formulario_busqueda>div>button.busqueda:hover{
    background-color: #2A3F54;
}

.x_content>div.formulario_busqueda>div>button{
    width:30%;
}
.x_content>div.formulario_busqueda>.form{
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.x_content>div.formulario_busqueda>.form>div>div{
    width:25%;    
    display:none;
}

.x_content>div.formulario_busqueda>.form>div>p{
    color:black !important;
    width: 70% ;
    margin:0;
    font-size: 14px;
}

.x_content>div.formulario_busqueda>.form>div.container{
    display:flex;
    justify-content:center;
    background-color:rgba(20,20,20,0.4);
    flex-grow:2;
    margin:5px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
    text-align:center;
}
.x_content>div.formulario_busqueda>.form>div>input, .x_content>.form>div>p{
    background-color: transparent;   
    border:none;
    text-align: center;
    color:#FFF;
    width:70%;
    font-size:14px;
    height:100%;
    margin:0;
    cursor: pointer;
}
.x_content>div.formulario_busqueda>.form>div>input:disabled,
.x_content>div.formulario_busqueda>.form>div>button:disabled{
    color:black;
    opacity: 0.65;
    cursor:text;
}

.x_content>div.formulario_busqueda>.form>div>input::-webkit-input-placeholder{
   color: #000;
}

.x_content>div.formulario_busqueda>.form>div>input:hover::-webkit-input-placeholder,
.x_content>div.formulario_busqueda>.form>div>input:focus::-webkit-input-placeholder{
   color: #FFF;
}

.x_content>div.formulario_busqueda span{
    color:black;
    height:100%;
    text-align:center;
}

#region,#ciudad{
    border:none;
    width:70%;
    padding:0;
}
