#Actor_jefe_nombre{
    border:none;
    width:70%;
    padding:0;
}

@media screen and (max-width: 700px) {
    #buscar_empleado .form .container{
        width: 100%;
    }
    .contenedor_pista>input{
        width: 90% !important;
    }
    .contenedor_pista{
        flex-wrap: wrap !important;
    }
    .contenedor_pista>button{
        width: 45% !important;
    }
}
@media screen and (min-width: 700px) {
    #buscar_empleado .form .container{
        width: 45%;
    }
    #Actor_buscar{
        width: 30% !important;
    }
    #Actor_limpiar{
        width: 10% !important;
    }
}


#buscar_empleado .form h4{
    width: 100%;
    border-bottom-style: dotted;
    padding-bottom: 10px;
    text-align: center;
}

.x_content>div.formulario_busqueda>.form>div>input:disabled,
.x_content>div.formulario_busqueda>.form>div>button:disabled{
    color:white;
    opacity: 0.65;
    cursor:text;
}