
#simcards_paquete{
    display: flex;
    margin-bottom:10px;
}

@media screen and (max-width: 700px) {
    #buscar_simcard>div.formulario_busqueda>.form>div.container{
        width: 100%;
    }
}
@media screen and (min-width: 700px) {
    #buscar_simcard>div.formulario_busqueda>.form>div.container{
        width: 45%;
    }
}
#titulo_paquete{
    text-align: center;
    width: 100%
}

#titulo_paquete>span{
    color: #73879C;
}

#Paquete_pista{
    width: 65%;
}

#Simcard_plan, #Simcard_cliente, #Simcard_equipo{
    border:none;
    width:70%;
    padding:0;
}

#acciones_buscar_paquete>button{
    width:30%;
}

#Simcard_cliente, #Simcard_equipo{
    color:white;
}
#Simcard_cliente:hover, #Simcard_equipo:hover{
    color:black;
}

#categoria{
    background-color: transparent;
    border: none;
    margin-right: 10px;
}


#responsables_simcards>button,#simcards_paquete>button{
    margin-bottom: 5px !important;
}
